/* src/components/Inicio.css */

/* Estilo general */
.inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1519985176271-adb1088fa94c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080') 
  center/cover no-repeat; /* Nueva imagen en línea */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Agregamos un overlay para mayor contraste */
.inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Capa oscura */
  z-index: 1;
}

.content {
  position: relative; /* Para que el contenido quede por encima del overlay */
  z-index: 2;
  text-align: center;
  max-width: 600px;
}


/* Título */
.nombre-empresa {
  font-size: 3.5rem;
  font-weight: bold;
  color: #111827; /* Gris oscuro */
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

/* Tagline */
.tagline {
  font-size: 1.5rem;
  color: #4b5563; /* Gris medio */
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

/* Botón */
.btn-explorar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #111827; /* Gris oscuro */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s;
}

.btn-explorar:hover {
  transform: translateY(-5px);
  background-color: #374151; /* Gris más claro */
}

/* Animaciones */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
